{% extends 'base.html' %}

{% block header %}
<div class="alert alert-primary" role="alert">
  <h1>oh884U8ちゃんねる<h1>
</div>
{% endblock header %}

{% block content %}
<div class="container">

  <p><a href="{% url 'topiccreate' %}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">新しいトピックを作る</a></p>

  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>Topic</th>
        <th>Starter</th>
        <th>Replies</th>
        <th>Views</th>
        <th>Last Updated</th>
      </tr>
    </thead>
    <tbody>
      {% for item in object_list %}
        <tr>
          <td><a href="{% url 'detail' item.pk %}">{{ item.topic }}</a></td>
          <td>{{ item.starter }}</td>
          <td>{{ item.replies }}</td>
          <td>{{ item.views }}</td>
          <td>{{ item.last_updated }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
